// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #21da65 !default;
$header-heading-color-secondary: rgb(25, 255, 95) !default;
$header-bg-color: #222 !default;

// Nav
$nav-bg-color: rgb(30, 150, 60) !default;

// Text
$section-headings-color: rgb(40, 180, 80) !default;
$section-headings-color-secondary: #444 !default;
$body-text-color: #333 !default;
$body-link-color: rgb(30, 150, 60) !default;
$blockquote-text-color: #777 !default;

// Code
$code-bg-color: #282828 !default;
$code-text-color: #21da65 !default;

// Borders
$border-color: #999 !default;
$table-border-color: #ddd !default;
$hr-border-color: #bbb !default;

// Buttons
$nav-menu-color: rgb(40, 180, 80) !default;
$nav-active-text-color: white !default;
$nav-donate-color: rgb(255, 105, 180) !default;
