<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EspionSpotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EspionSpotify.Properties.Settings>
      <setting name="settings_output_path" serializeAs="String">
        <value />
      </setting>
      <setting name="settings_media_bitrate_quality" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="settings_media_audio_format" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="settings_media_minimum_recorded_length_in_seconds"
        serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="advanced_file_group_media_in_folders_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advanced_file_replace_space_by_underscore_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advanced_file_counter_number_prefix_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advanced_id3_counter_number_as_track_number_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settings_language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="app_tab_number_selected" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="advanced_watcher_delay_next_recording_until_silent_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settings_mute_ads_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="advanced_record_everything" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app_analytics_cid" serializeAs="String">
        <value />
      </setting>
      <setting name="advanced_record_over_recordings_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app_last_version_prompt" serializeAs="String">
        <value />
      </setting>
      <setting name="app_console_logs" serializeAs="String">
        <value />
      </setting>
      <setting name="app_selected_external_api_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="app_selected_audio_device_id" serializeAs="String">
        <value />
      </setting>
      <setting name="advanced_record_over_recordings_and_duplicate_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app_counter_number_mask" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="app_spotify_api_client_secret" serializeAs="String">
        <value />
      </setting>
      <setting name="app_spotify_api_client_id" serializeAs="String">
        <value />
      </setting>
      <setting name="advanced_id3_extra_title_as_subtitle_enabled"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advanced_record_everything_and_ads_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advanced_id3_update_recordings_tags_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app_spotify_api_redirect_url" serializeAs="String">
        <value>http://localhost:4002</value>
      </setting>
      <setting name="settings_minimize_to_system_tray_enabled" serializeAs="String">
        <value>False</value>
      </setting>
    </EspionSpotify.Properties.Settings>
  </userSettings>
</configuration>
