<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EspionSpotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <EspionSpotify.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Bitrate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AddFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddSeparators" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddNumsInfrontFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddNumsAsTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </EspionSpotify.Properties.Settings>
    </userSettings>
</configuration>
