<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EspionSpotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EspionSpotify.Properties.Settings>
      <setting name="Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="Bitrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MediaFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinimumRecordedLengthSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="GroupByFoldersEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrackTitleSeparatorEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderNumberInfrontOfFileEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderNumberInMediaTagEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TabNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EndingSongDelayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MuteAdsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecordUnknownTrackTypeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyticsCID" serializeAs="String">
        <value />
      </setting>
      <setting name="RecordOverRecordingsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastVersionPrompted" serializeAs="String">
        <value />
      </setting>
      <setting name="Logs" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaTagsAPI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AudioEndPointDeviceID" serializeAs="String">
        <value />
      </setting>
      <setting name="RecordDuplicateRecordingsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrderNumberMask" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="SpotifyAPISecretId" serializeAs="String">
        <value />
      </setting>
      <setting name="SpotifyAPIClientId" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtraTitleToSubtitleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </EspionSpotify.Properties.Settings>
  </userSettings>
</configuration>
