<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="{% t site.description %}"/>
    <meta name="keywords" content="{% t site.keywords %}"/>
    <link rel="shortcut icon" href="{{ site.logo }}" />
    <link rel="apple-touch-icon" href="{{ site.logo }}" />
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{site.title}} {{ site.description }} {% t {{ page.title }} %}</title>
  </head>
  <body>
    {{ content }}
    <script>
      document.addEventListener("DOMContentLoaded", onLoad);

      function onLoad() {
        const pathname = window.location.pathname;
        if (pathname === '/' || [/\/..\//, /\/index.*/].some(x => x.test(pathname))) {
          var match = pathname.match(/\/..\//);
          var pathnameLang = match ? match[0] : pathname.replace(/index.*/, '');
          window.location.pathname = `${pathnameLang.replace('/', '')}overview.html`;
        }
      }
  </script>
  </body>
</html>