<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <link rel="shortcut icon" href="{{ site.logo }}" />
    <link rel="apple-touch-icon" href="{{ site.logo }}" />
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title }} - Records Spotify to mp3 - {{ page.title }}</title>
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ site.repository_url }}" aria-label="Go to Spytify GitHub Page"><img class="logo" alt="Spytify Logo" src="{{ site.logo }}" role="logo" /></a>
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">Records Spotify to mp3 without ads while it plays and includes media tags to the recorded files</h2>      
    </header>
    
    <nav class="nav" role="navigation">
        <a href="./overview.html" aria-label="Overview" class="btn">Overview</a>
        <a href="./features.html" aria-label="Features" class="btn">Features</a>
        <a href="./settings.html" aria-label="Settings" class="btn">Settings</a>
        <a href="./faq.html" aria-label="FAQ" class="btn">F.A.Q</a>
        <a href="./donate.html" aria-label="Donate" class="btn -donate">Donate</a>

        {% if site.show_downloads %}
          <a href="{{ site.repository_download }}" aria-label="Download" class="btn out">Download</a>
        {% endif %}
    </nav>

    <main id="content" class="main-content" role="main">
 
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-badges">
          <a href="{{ site.github.repository_url | default: site.repository_url }}" aria-label="Go to Spytify GitHub page">
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/jwallet/spy-spotify.svg?logo=github&style=social" />
          </a>
          <a href="{{ site.reddit_url }}" aria-label="Go to Spytify Sub Reddit">
            <img alt="Subreddit subscribers" src="https://img.shields.io/reddit/subreddit-subscribers/spytify.svg?label=%2Fr%2Fspytify&logo=reddit&logoColor=000000&style=social">
          </a>
        </span>
        <span class="site-footer-owner">
          <a href="{{ site.github.repository_url | default: site.repository_url }}" aria-label="Go to Spytify GitHub page">{{ site.github.repository_name | default: site.project_name }}</a>
          is maintained by
          <a href="{{ site.github.owner_rul | default: site.owner_url }}">{{ site.github.owner_name | default: site.owner_name }}</a>.
        </span>
        <span class="site-footer-credits">
          😃 Like Spytify? If you want you can <a href="./donate.html">buy me a beer</a> 🍺.
        </span>
      </footer>
    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <script>
      document.addEventListener("DOMContentLoaded", onPageLoaded);
      function setActiveNav() {
        document.querySelectorAll(`nav[role="navigation"]>a`).forEach(x => {
          const attribute = x.getAttribute("href");
          if (attribute && window.location.pathname.includes(attribute.substring(2))) {
            x.className = `${x.className} active`;
          }
        });
      }

      function isScrollIntoView() {
        const { hash } = window.location;
        if (hash) {
          var el = document.querySelector(`${hash}>details`);
          if (el) {
            el.open = true;
            el.scrollIntoView({ behavior: 'smooth' });
          }
        }
      }

      function onPageLoaded() {
        setActiveNav();
        isScrollIntoView();
      }

  </script>
  </body>
</html>
